@using EntityLayer.Concrete
@model List<Team>
<div class="team" id="team">
	<div class="container">
		<h3 class="tittle">Ekip Arkadaşlarımız</h3>
		<p class="heading-btm-w3ls">Birbirinden farklı konularda oldukça donanımlı ekip arkadaşlarımız.</p>
		<div class="wthree_team_grids">
			@foreach (var member in Model)
			{
						<div class="col-md-3 wthree_team_grid">
				<div class="hovereffect">
					<img src="@member.ImageUrl" alt=" " class="img-responsive" />
					<div class="overlay">
						<h6>Lorem ipsum</h6>
						<div class="rotate">
							<p class="group1">
								<a href="@member.TwitterUrl">
									<i class="fa fa-twitter"></i>
								</a>
								<a href="@member.FacebookUrl">
									<i class="fa fa-facebook"></i>
								</a>
							</p>
							<hr>
							<hr>
							<p class="group2">
								<a href="@member.InstagramUrl">
									<i class="fa fa-instagram"></i>
								</a>
								<a href="@member.WebSiteUrl">
									<i class="fa fa-dribbble"></i>
								</a>
							</p>
						</div>
					</div>
				</div>
				<h4>@member.PersonName</h4>
				<p>@member.Title</p>
			</div>
			}
			<div class="clearfix"> </div>
		</div>
	</div>
</div>